
test.xcodeproj/
.vscode/
Untitled.xcworkspace/
*.xcworkspacedata
Untitled.xcworkspace/contents.xcworkspacedata
Untitled.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Untitled.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Untitled.xcworkspace/xcuserdata/andreacarrara.xcuserdatad/UserInterfaceState.xcuserstate
Untitled.xcworkspace/xcuserdata/andreacarrara.xcuserdatad/WorkspaceSettings.xcsettings
